@font-face {  
  font-family: mvfaseyha;  
  src: url( ../fonts/mv_faseyha.otf ) format("opentype");  
}

@font-face {  
  font-family: mvwaheed;  
  src: url( ../fonts/mv_waheed.otf ) format("opentype");  
}

.editor-controls{
	background:#dfdfdf;
	padding:5px;
	direction: ltr;
}

.thaanaWysiwyg{
	display:block;
	border:1px solid #ccc;;
}

.intLink, input[type="image"]{
	cursor:pointer;
	background:#fefefe;
	margin:2px 0 1px 1px;
}